/* Add your global CSS styles here, like for body or specific classes */

body {
  font-family: sans-serif;
}
.freeman-regular {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}
